<div class="container">
    <br>
    <h1>Customer Detail</h1>
    
    <div *ngFor="let customerRec of customerRecord">
        <div class="row mb-2">
        <td class="col-3"><strong>ID</strong></td>
        <td class="col-9">{{customerRec.id | json}}</td>
        </div>
        <div class="row mb-2">
        <td class="col-3"><strong>Name</strong></td>
        <td class="col-9">{{customerRec.name | json}}</td>
        </div>
        <div class="row mb-2">
        <td class="col-3"><strong>City</strong></td>
        <td class="col-9">{{customerRec.city | json}}</td>
        </div>
        <div class="row mb-2">
        <td class="col-3"><strong>Country</strong></td>
        <td class="col-9">{{customerRec.country | json}}</td>
        </div>
        <div class="row mb-4">
        <td class="col-3"><strong>Zip Code</strong></td>
        <td class="col-9">{{customerRec.zipcode | json}}</td>
        </div>
    </div>
    
    <button routerLink="/customers" class="btn btn-sm btn-link">Back To List</button>
    </div>