<mat-toolbar color="primary">
  <mat-toolbar-row class="navBar">

    <!-- <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span> -->
    <div>
      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-button [routerLink]="'/tableDetail'"> Table Detail </a>
      <a mat-button [routerLink]="'/bikes'">Bikes </a>
      <a mat-button [routerLink]="'/tabs'"> Tabs </a>
    
      <a mat-button [routerLink]="'/customers'"> Customers </a>
      <a mat-button [routerLink]="'/communication'"> Communication </a>

    </div>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row> -->
</mat-toolbar>

<router-outlet></router-outlet>
